<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.tjnu.tutor.system.mapper.ClassMapper">

    <resultMap id="ClassResult" type="cn.edu.tjnu.tutor.system.domain.entity.TheClass">
        <id property="classId" column="class_id"/>
        <result property="majorId" column="major_id"/>
        <result property="className" column="class_name"/>
        <result property="grade" column="grade"/>
    </resultMap>

</mapper>