<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.tjnu.tutor.system.mapper.CollegeMapper">

    <resultMap id="CollegeResult" type="cn.edu.tjnu.tutor.system.domain.entity.College">
        <id property="collegeId" column="college_id"/>
        <result property="collegeCode" column="college_code"/>
        <result property="collegeName" column="college_name"/>
        <result property="leader" column="leader"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="visible" column="visible"/>
    </resultMap>

</mapper>