<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.tjnu.tutor.system.mapper.MajorMapper">

    <resultMap id="MajorResult" type="cn.edu.tjnu.tutor.system.domain.entity.Major">
        <id property="majorId" column="major_id"/>
        <result property="collegeId" column="college_id"/>
        <result property="majorName" column="major_name"/>
        <result property="majorAbbr" column="major_abbr"/>
    </resultMap>

</mapper>