<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.tjnu.tutor.system.mapper.TemplateMapper">

    <resultMap id="TemplateResult" type="cn.edu.tjnu.tutor.system.domain.entity.Template">
        <id property="tmplId" column="tmpl_id"/>
        <result property="docId" column="doc_id"/>
        <result property="tmplName" column="tmpl_name"/>
        <result property="tmplOrder" column="tmpl_order"/>
        <result property="tmplUrl" column="tmpl_url"/>
        <result property="readOnly" column="read_only"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

</mapper>