<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.tjnu.tutor.system.mapper.UserMapper">

    <resultMap id="UserResult" type="cn.edu.tjnu.tutor.system.domain.User">
        <id property="userId" column="user_id"/>
        <result property="collegeId" column="college_id"/>
        <result property="userCode" column="user_code"/>
        <result property="userName" column="user_name"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="gender" column="gender"/>
        <result property="avatar" column="avatar"/>
        <result property="introduce" column="introduce"/>
    </resultMap>

    <insert id="bindRoleForUser">
        insert into ref_user_role (user_id, role_id)
        values (#{userId}, (select role_id from sys_role where role_key = #{roleKey}))
    </insert>

    <select id="selectRoleKeysByUserId" resultType="java.lang.String">
        select r.role_key
        from sys_role r
                 left join ref_user_role ur on ur.role_id = r.role_id
        where ur.user_id = #{userId}
    </select>

</mapper>